/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

button {
  border: none;
  background-color: transparent;
  padding: 0;
}

.border {
  border: 2px solid #000;
}

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-base);
  font-variation-settings: "wght" var(--wght-normal);
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
}

/* header */

.header {
  width: var(--card-size);
  padding: 120px 0;
  margin: 100px auto;
  text-align: center;
  background-color: #fff;
}

.header__title {
  font-family: var(--font-accent);
  font-size: var(--header-title);
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: bottom;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.header__text {
  font-family: var(--font-accent);
  font-size: var(--header-text);
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase; 
}

/* main */

main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  width: var(--card-size);
  margin: 0 auto;
  background-color: #fff;
}

.card__title {
  text-align: left;
  font-variation-settings: "wght" var(--wght-bold);  
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  padding: 6px 10px;
  border-bottom: 2px solid #000;
}

.img-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.card__img-text {
  position: absolute;
  top: 25px;
  right: 13px;

  font-family: var(--font-accent);
  font-size: 14px;
  line-height: 100%;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff;
  color: #000;
}

@supports (-webkit-text-stroke: 1px #fff) {
  .card__img-text {
    -webkit-text-stroke: 1px #fff;
    text-shadow: none;
  }
}

.card__img {
  display: block;
  width: 100%;
}

.vehicle__2 {
  filter: grayscale(80%);
}

.vehicle__3 {
  filter: saturate(300%);
}

.vehicle__4 {
  filter: hue-rotate(30deg);
}

.vehicle__5 {
  filter: contrast(60%) invert(100%)
}

.vehicle__6 {
  filter: sepia(90%);
}

.vehicle__7 {
  filter: blur(20px);
}

.vehicle__8 {
  filter: blur(3px) hue-rotate(90deg) contrast(70%)
}

.card__info {
  display: flex;
  flex-direction: column;

  padding: 25px;
  gap: 25px;
  border-top: 2px solid #000;
}

.card__text {
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0%;
}

/* buttons */

.card__buttons-container {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  align-items: center;
}

.card__icon-button {
  height: 38px;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
  outline: none;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--contour-color);
}


.card__like-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  width: 130px;
  height: 38px;
  transition: box-shadow  0.3s ease;
}

.button__text {
  font-family: var(--font-accent);
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  letter-spacing: 0%;
  mix-blend-mode: difference;
  color: #fff;
  z-index: 1;
}

.floppy__button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  gap: 8px;
  width: 306px;
  height: 80px;
  background-color: #fff;
  margin: 0 auto 100px;
  transition: box-shadow 0.3s ease;
}

.card__like-button:focus, .floppy__button:focus, .dialog__button:focus {
  box-shadow: 2px 2px 0 #000;
  outline: none;
}

.card__like-button::after, .floppy__button::after, .dialog__button::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background-color: #000;
  width: 100%;
  height: 100%;
  translate: -100%;
  transition: 0.5s ease-in-out;
}

.card__like-button:hover::after, .floppy__button:hover::after, .dialog__button:hover:after {
  translate: 0;
}

.floppy__icon {
  mix-blend-mode: difference;
  filter: invert(1);
  z-index: 1;
}

/* dialog */

body:has(.dialog[open]) {
  overflow: hidden;
}

.dialog[open] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 341px;
  height: 191px;
}

.dialog__info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.dialog__text {
  font-family: var(--font-accent);
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.dialog__button {
  position: relative;
  overflow: hidden;
  width: 14px;
  width: 100%;
  height: 38px;
  transition: box-shadow 0.3s ease;
}

.dialog__button::after {
  z-index: -1;
}

.dialog__button-text {
  font-family: var(--font-accent);
  line-height: 90%;
  letter-spacing: 0%;
  text-transform: uppercase;
  mix-blend-mode: difference;
  color: #fff;
}

.dialog[open]::backdrop {
  opacity: 0.75;
  background-color: #000;
}

@media (width >= 1024px) {
  .floppy__button {
    flex-direction: row;
    width: 335px;
  }

  .dialog[open] {
    width: 353px;
  }
}

/* heart start and end states */

.heart {
  transform-origin: center;
}

.sparks {
  opacity: 0;
  fill: var(--animation-fill-color);
}

.main-body {
  fill: transparent;
  transition: fill 0.3s;
}

.core {
  fill: transparent;
  transition: fill 0.3s 0.05s;
}

.contour {
  fill: var(--contour-color);
  transition: fill 0.1s;
}

/* heart hover */

.like-icon:hover .core {
  fill: var(--animation-hover-color);
  transition: fill 0.3s;
}

.like-icon:hover .main-body {
  fill: var(--animation-hover-color);
  transition: fill 0.3s 0.05s;
}

/* heart active state */
.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s;
}

/* is-liked state */

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.06s;
}

.like-icon.is-liked .heart {
  animation: scale 0.3s 0.1s ease-in;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s 0.3s ease-in;
}