/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

button {
  padding: 0;
  border: 0;
  background: transparent;
}

.border {
  border: 2px solid #000;
}

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-base);
  font-variation-settings: "wght" var(--wght-normal);
  background: var(--background-image) no-repeat fixed center / cover;
}

/* ===== header ===== */

.header {
  width: var(--card-size);
  margin: 100px auto;
  padding-block: 120px;
  text-align: center;
  background-color: #fff;
}

.header__title {
  margin-bottom: 20px;
  font-family: var(--font-accent);
  font-size: var(--header-title);
  line-height: 1;
  text-transform: uppercase;
}

.header__text {
  font-family: var(--font-accent);
  font-size: var(--header-text);
  line-height: 1;
  text-transform: uppercase;
}

/* ===== main ===== */

main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  width: var(--card-size);
  margin-inline: auto;
  background-color: #fff;
}

.card__title {
  padding: 6px 10px;
  font-size: 18px;
  line-height: 1;
  font-variation-settings: "wght" var(--wght-bold);
  border-bottom: 2px solid #000;
}

.img-container {
  position: relative;
  overflow: hidden;
}

.card__img-text {
  position: absolute;
  top: 25px;
  right: 13px;
  font-family: var(--font-accent);
  font-size: 14px;
  line-height: 1;
  opacity: 0.5;
  color: #000;
  mix-blend-mode: hard-light;
  text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff;
}

@supports (-webkit-text-stroke: 1px #fff) {
  .card__img-text {
    -webkit-text-stroke: 1px #fff;
    text-shadow: none;
  }
}

.card__img {
  display: block;
  inline-size: 100%;
}

/* filters */

.vehicle__2 {
  filter: grayscale(80%);
}

.vehicle__3 {
  filter: saturate(300%);
}

.vehicle__4 {
  filter: hue-rotate(30deg);
}

.vehicle__5 {
  filter: contrast(60%) invert(100%);
}

.vehicle__6 {
  filter: sepia(90%);
}

.vehicle__7 {
  filter: blur(20px);
}

.vehicle__8 {
  filter: blur(3px) hue-rotate(90deg) contrast(70%);
}

.card__info {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
  border-top: 2px solid #000;
}

.card__text {
  font-size: 18px;
  line-height: 21px;
}

/* ===== buttons ===== */

.card__buttons-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.card__icon-button {
  height: 38px;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.card__icon-button:focus-visible {
  border-color: var(--contour-color);
}

.card__like-button {
  position: relative;
  overflow: hidden;
  inline-size: 130px;
  block-size: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: box-shadow 0.3s ease;
}

.button__text {
  z-index: 1;
  font-family: var(--font-accent);
  font-size: 14px;
  line-height: 90%;
  color: #fff;
  mix-blend-mode: difference;
}

.floppy__button {
  position: relative;
  overflow: hidden;
  margin: 0 auto 100px;
  inline-size: 306px;
  block-size: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: #fff;
  transition: box-shadow 0.3s ease;
}

.card__like-button:focus,
.floppy__button:focus,
.dialog__button:focus {
  outline: none;
  box-shadow: 2px 2px 0 #000;
}

.card__like-button::after,
.floppy__button::after,
.dialog__button::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #000;
  translate: -100%;
  transition: translate 0.5s ease-in-out;
}

.card__like-button:hover::after,
.floppy__button:hover::after,
.dialog__button:hover::after {
  translate: 0;
}

.floppy__icon {
  z-index: 1;
  filter: invert(1);
  mix-blend-mode: difference;
}

/* ===== dialog ===== */

body:has(.dialog[open]) {
  overflow: hidden;
}

.dialog[open] {
  inline-size: 341px;
  block-size: 191px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.dialog__info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.dialog__text {
  font-family: var(--font-accent);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.dialog__button {
  position: relative;
  overflow: hidden;
  inline-size: 100%;
  block-size: 38px;
  transition: box-shadow 0.3s ease;
}

.dialog__button::after {
  z-index: -1;
}

.dialog__button-text {
  font-family: var(--font-accent);
  line-height: 90%;
  color: #fff;
  text-transform: uppercase;
  mix-blend-mode: difference;
}

.dialog[open]::backdrop {
  background-color: #000;
  opacity: 0.75;
}

@media (width >= 1024px) {
  .floppy__button {
    inline-size: 335px;
    flex-direction: row;
  }

  .dialog[open] {
    inline-size: 353px;
  }
}

/* ===== heart animation ===== */

.heart {
  transform-origin: center;
}

.sparks {
  opacity: 0;
  fill: var(--animation-fill-color);
}

.main-body {
  fill: transparent;
  transition: fill 0.3s;
}

.core {
  fill: transparent;
  transition: fill 0.3s 0.05s;
}

.contour {
  fill: var(--contour-color);
  transition: fill 0.1s;
}

/* hover */

.like-icon:hover .core {
  fill: var(--animation-hover-color);
}

.like-icon:hover .main-body {
  fill: var(--animation-hover-color);
  transition-delay: 0.05s;
}

/* active */

.like-icon:active .core {
  fill: var(--animation-fill-color);
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0.05s;
}

/* liked */

.like-icon.is-liked .core,
.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
}

.like-icon.is-liked .main-body {
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition-delay: 0.06s;
}

.like-icon.is-liked .heart {
  animation: scale 0.3s 0.1s ease-in;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s 0.3s ease-in;
}
